<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		
	</style>
</head>
<body>
	<a href="index.php?p=Admin&c=Link&a=add" style="text-decoration: none;color: #f89d10">添加友情链接</a>
	<form method="post" action="">
		<table cellspacing="0" cellpadding="0" bgcolor="#e6f2fb" border="1" width="1125" height="200">
			<tr>
				<th>编号</th>
				<th>链接名</th>
				<th>链接地址</th>
				<th>修改</th>
				<th>删除</th>
			</tr>
			{foreach $list as $rows}
			<tr align="center">
				<td>{$rows@iteration}</td>
				<td>{$rows['link_name']}</td>
				<td>{$rows['link_url']}</td>
				<td><a>删除</a></td>
				<td><a>修改</a></td>
			</tr>
			{/foreach}
		</table>

	</form>
</body>
</html>