<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form method="post" action="">
		<table cellspacing="0" cellpadding="0" bgcolor="#e6f2fb" border="1" align="center" width="500" style="line-height: 30px;">
			<caption><h2>添加链接</h2></caption>
			<tr align="center">
				<th>链接名</th>
				<th>链接地址</th>
			</tr>
			<tr align="center">
				<td><input type="text" name="link_name" style="line-height:28px;" width="200" ></td>
				<td><input type="text" name="link_url"  style="line-height:28px;" width="200" ></td>
			</tr>
			<tr align="center">
				<td colspan="2"><input type="submit" name="" value="添加"></td>
			</tr>
		</table>
	</form>
</body>
</html>