<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>拼图后台管理-后台管理</title>
    <link rel="stylesheet" href="./Application/View/Admin/css/pintuer.css">
    <link rel="stylesheet" href="./Application/View/Admin/css/admin.css">
</head>

<body>
<div class="admin">
	<form method="post">
    <div class="panel admin-panel">
    	<div class="panel-head"><strong>用户信息</strong></div>
    	<table class="table table-hover">
        	<tr>
        	  <th width="45">编号</th>
        	  <th width="*">姓名</th>
        	  <th width="*">登陆次数</th>
        	  <th width="*">最后登陆时间</th>
        	  <th width="*">最后登陆IP</th><th width="100">操作</th></tr>
            {foreach $list as $rows}
            <tr>
            <td>{$rows@iteration}</td>
            <td>{$rows['user_name']}</td>
            <td>{$rows['login_count']}</td>
            <td>
            {if !empty($rows['last_login_time'])}
                {$rows['last_login_time']|date_format:'%Y-%m-%d %H:%M:%S'}
            {else}
                未登录
            {/if}
            </td>
            <td>
            {if !empty($rows['last_login_ip'])}
                {$rows['last_login_ip']|long2ip}
            {else}
                未登录
            {/if}
            </td>
            <td><a class="button border-yellow button-little" href="index.php?p=Admin&c=User&a=del&user_id={$rows['user_id']}" onclick="return confirm('确认删除?')">删除</a></td></tr>
            {/foreach}
        </table>
    </div>
    </form>
    <br />
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">王晓阳</a>构建</p>
</div>
</body>
</html>